/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.env
/.env.backup
/.phpunit.result.cache
/docker-compose.yml
/.git
/.github
/.vscode
/.idea
/.DS_Store
/*.sqlite
/database/*.sqlite
/database/*.sqlite-journal
